<div *ngIf="(product$ | async) as productt">
    <div>
        <img [src]="productt.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ productt.title }}</li>
            <li>Precio: {{ productt.price | currency }}</li>
        </ul>
        <p>{{ productt.description }}</p>
    </div>
    <button (click)="crearproduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Eliminar</button>
    <!--
    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>
    <button (click)="crearproduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Eliminar</button>
    -->
</div>