<h1>Hello</h1>
<input type="text" [(ngModel)]="title"> {{title}}

<div *ngIf="1 == 1">
    Es un Div
</div>
<div *ngIf="title === 'carlos'">
    Si es True
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'ana'">Este es Ana</p>
    <p *ngSwitchCase="'carlos'">Este es Carlos</p>
    <p *ngSwitchCase="'Platzi'">Este es Platzi</p>
    <p *ngSwitchDefault>No hay lista</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">No hay Items</li>
    <li *ngFor="let name of items; index as i">
        {{ i }} {{ name }}
        <button (click)="deleteItem(i)">Eliminar item</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    <br>
    <img [src]="product.image" alt="" weight="200px" height="200px">
    <br> {{ product.price }}
</div>


<router-outlet></router-outlet>